Xft.autohint: false
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

dwm.selbgcolor: #91069c
dwm.selbordercolor: #91069c
dwm.selfloatcolor: #91069c

dwm.tagsselbgcolor: #91069c
dwm.tagsselbordercolor: #91069c
dwm.tagsselfloatcolor: #91069c
